.showcase img{
  margin: 5px 5% 0 5%;
  width: 90%;
  height:auto;
  border:6px solid #cccccc;
}
@media only screen and (min-width: 768px){
  .showcase img{
    max-width: 500px;
  }
}
@media only screen and (min-width: 992px){
  .showcase img{
    max-width: 700px;
  }
}
.showcase h3{
  color:#994433;
  margin:0 auto 15px auto;
}
.images img{
  width:21%;
  padding:0 1%;
}
@media only screen and (min-width:768px){
  .images img{
    max-width:15%;
  }
}
@media only screen and (min-width:992px){
  .images img{
    max-width:10%;
  }
}
.images img:hover{
  opacity: 0.8;
  cursor: pointer;
}
.aboutbody, .contactbody{
  width:80%;
  margin: 0 10%;
  font-family:sans-serif;
}
.centered{
  text-align: center;
}
.left{
  text-align: left;
}
.contactbody{
  height:500px;
}
.button {
  cursor: pointer;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: .2rem 3rem .2rem 3rem;
  font-size: 1.3rem;
  background-color: #994433;
  border-radius: 2px;
  color: white;
  transition: background-color 300ms ease-out;
  font-weight: normal !important;
}
.button:hover, .button:focus {
  color: #FFFFFF;
  background-color: #996633;
}
