@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:700&display=swap');

body {
  margin:0;
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Cinzel Decorative', cursive;
  color:#666666;
  background: #fff;
}
