footer {
  text-align:center;
  width: 84%;
  margin: 2% 8%;
}
footer ul{
  margin:0;
  padding: 0;
}
footer li{
  display: inline-block;
  padding: 0 5px;
}
footer li a{
  color: #666666;
  text-decoration: none;
  font-weight: 900px;
  font-style: italic;
}
footer li a:hover{
  color:#333333;
}
